---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "bootstrap", "bootswatch";
@import "custom";

a:hover { text-decoration: none; }

footer.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 60px;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
}

.client-list .img-responsive {
  margin: 0 auto;
  height:3em;
  width:auto;
}

.client-list > .row > div {
  text-align: center;
  padding: 2em;
}

.post-content {
  padding-bottom: 60px;
}

.home-callouts a { display: block; }

.home-client-list {
  margin-top: 8px;
  margin-bottom: 8px;
}

.social-icons { display: inline-block; }

.icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-indent: -10000px;
  margin: 10px;
}

.navbar-header .icon {
  width: 45px;
  height: 45px;
  margin: 2px;
}

.icon.email {
  background-image: url(../img/icon.email.png);
}
.icon.twitter {
  background-image: url(../img/icon.twitter.png);
}
.icon.facebook {
  background-image: url(../img/icon.facebook.png);
}

.navbar-collapse {
  border-top: none;
}

.jumbotron {
  margin-bottom: 0;
  background: url(../img/jumbotron.png) 50% 50% no-repeat;
  color: #222;
}
