.case-featured {
  position:relative;
  width:100%;
  margin:2em auto;
  background:url('/img/casestudy-wm.jpg') no-repeat;
  background-size:100%;
  min-height:10em;
  @media screen and (min-width:768px){
    min-height:20em;
    width:80%;
    margin-top:6em;
  }
}

#case-study {
  margin-top:4em;
  .section-title {
    margin-bottom:1em;
  }
}