@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,200,600');

$green: #44fec4;
.green { color: $green; }

div {
  &:focus,
  &:active {
    outline:none;
  }
}

@mixin circle-line($color) {
  position:relative;
  &:before {
    content:"";
    display:block;
    position:absolute;
    left:24%;
    @media screen and (max-width:640px){
      left:22.5%;
    }
    border:1px solid $color;
    border-radius:50%;
    width:8px;
    height:8px;
    bottom:-4.4px
  }
  &:after {
    content:'';
    display:block;
    height:1px;
    margin:0 auto;
    background:$color;
    width:50%;
    position:relative;
    margin-top:1em;
  }
}

hr {
  @media screen and (min-width:768px){

  }
  border:none;
  width:100%;
  margin:3em auto;
  position:relative;
  border-color:$green;
  @include circle-line($green);
}

.video-hero {
  hr {
    @include circle-line(white);
  }
}

h1,h2,h3,h4 {
  font-family:'Raleway';
  font-weight:600;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@mixin blink {
  &:after {
    content:'';
    width:1px;
    position:absolute;
    opacity:0;
    height:10px;
    background:$green;
    display:block;
    transition:all .2s;
    top:1em;
    right:1em;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    @media screen and (min-width:768px){
      height:20px;
    }
  }
  &:hover {
    &:after {
      opacity:1;
    }
  }
}

.blink {
  @include blink;
  position:relative;
  display:inline;
  &:after {
    opacity:1;
    right:-.2em;
    height:20px;
    top:55%;
    @media screen and (min-width:768px){
      height:100%;
      top:0;
    }
  }
}

@mixin green-shadow {
  box-shadow:0px 1px 0px $green,
              0 3px 1px #eee;
  border:1px solid #f5f5f5;
}

@mixin grey-shadow {
  box-shadow:0px 1px 0px #666,
              0 3px 1px #eee;
  border:1px solid #f5f5f5;
}

.shadow--grey {
  @include grey-shadow;
}

.shadow--green {
  @include green-shadow;
}

.content-block {
  margin:10em 0;
  @media screen and (max-width:768px){
    margin:2em 0;
  }
  &:first-child {
    margin-top:0;
  }
}

.circle {
  border-radius:50%;
}

.img--small {
  max-width:200px;
}

.img-responsive {
  display:inline-block;
}

.section-title {
  margin:3em 0 2em 0;
  display:inline-block;
  position:relative;
  text-align:center;
  width:100%;
  @include circle-line($green);
}