//Header specific styles
.sub {
  header {
    background:#333;
    border-bottom:1px solid $green;
  }
}
header {
  left:0;
  width:100%;
  z-index: 999;
  .container {
    width:90%;
  }
  @media screen and (max-width:768px){
    padding:0;
    .container {
      padding:0;
      width:100%;
    }
  }
  @media screen and (max-width:767px){
    .logo {
      top:.2em;
      left:1em;
    }
  }
  .logo {
    font-size: 2em;
    margin-top: .2em;
    font-weight:200;
    position:relative;
    a {
      color:white;
      position:relative;
      cursor:pointer;
    }
    &:after {
      display:none;
    }
  }
}


.scrolled {
  header {
    width:100%;
    position:fixed;
    background:rgba(0,0,0,.5);
    top:0;
  }
  &.no-vid {
    header{
      background:#333;
    }
  }
  &.scrolled-more {
    header {
      background: white;
      transition:all .5s ease-in-out;          
      @include grey-shadow;
    }
    .logo {
      a {
        color:black;
      }
    }
    .navbar-nav {
      li {
        position:relative;
        &:after {
          content:'';
          height:1px;
          position:absolute;
          bottom:-2px;
          width:100%;
          display:block;
          background:$green;
          opacity:0;
          transition:all .1s ease-in-out;
        }
        &:hover {
          &:after {
            opacity:1;
          }
        }
        a {
          color:black;
          &:hover {
            color:black;
          }
        }
        &:last-child {
          &:after {
            width:180%;
          }
        }
      }
    }
  }
}

#navbar.navbar-collapse {
  @media screen and (min-width:768px){
    padding-right:0;
  }
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background:none;
}

.scrolled-more {
  .navbar-default {
    .navbar-nav {
      @media screen and (max-width:768px){
        background:white;
      }
    }
  }
}

.navbar-default {
  background: none;
  border:none;
  font-weight:300;
  margin-bottom:0;
  min-height: 0;
  .navbar-nav {
    cursor:pointer;
    @media screen and (max-width:768px){
      background:rgba(0,0,0,.8);
    }
    li {
      a {
        color: white;
        font-size: ($font-size-small);
        padding:1.5em 0;
        border-width:1px;
        text-align: center;
        width:100%;
        float:left;
        cursor:pointer;
        &.active,
        &:hover {
          color:lighten($green, 10%);
        }
      }
    }
  }
}

.navbar-header {
  a {
    img {
      max-width:75px;
      margin-top:1em;
    }
  }
}

.jumbotron .container {
  padding:2em 3em;
}

header {
  h1 {
    margin:.4em 0 5px 0;
    img {
      max-width:75px;
    }
  }
  .post-title {
      color:#999;
      font-weight: 100;
  }
}

.navbar-default {
 @media screen and (min-width:768px){
   li a {
     padding:1em 10px !important;
   }
 }
 @media screen and (min-width: 960px) {
    display: inline-block;
  li a {
    padding:1em .9em !important;
    border:none !important;
    text-align: left !important;
    float:none !important;
    width:auto !important;
  }
  li:last-child a {
    padding-right:0 !important;
  }
 }
}

.quote-wrapper {
  position:relative;
  width:40%;
  height:300px;
  margin:4em auto;
  display:none;
}

.testimonial {
  position:absolute;
  width:100%;
  img {
    margin:1em auto;
  }
  p {
    font-size:1em;
  }
  .testimonial-speaker {
    font-weight:600;
    margin-top:.8em;
    p {
      margin:0;
      padding:0;
    }
  }
}

@media (min-width: 800px) {
  .container { 
    max-width: 1100px; 
  }
  .navbar-default {
    float: right;
  }
  header {
    h1 {
      margin:.4em 0 5px 0;
      img {
        max-width:75px;
      }
    }
  }
  .jumbotron .container { 
      max-width: 1100px; 
      padding:2em 3em !important;
  }
}