dt, dd {
  float:left;
}

dt {
  clear:both;
  margin-right:.5em;
}

p {
  padding:.8em 0 0;
}

.clear {
  clear:both;
}

.text--small {
  font-size:14px !important;
}

.text--center {
  text-align:center;
  width:100%;
}

.text--left {
  text-align:left;
}