dt, dd {
  text-align:justify;
  @media screen and (min-width:640px){
    float:left;
  }
}

dt {
  clear:both;
  margin-right:.5em;
}

dd {
  margin-bottom:1em;
}

p {
  padding:.8em 0 0;
  text-align:justify;
  &.blink {
    padding:0;
  }
}

.clear {
  clear:both;
}

h1,h2,h3,h4 {
  font-family:'Raleway';
  font-weight:600;
}

.text--small {
  font-size:14px !important;
}

.text--center {
  text-align:center;
  width:100%;
}

.text--left {
  text-align:left;
}

h2 {
  .text--small {
    font-weight:100;
    display:block;
    margin-top:1em;
    font-size:16px !important;
  }
}