<div class="content-block">
  <div id="case-study">
    <div class="case-featured"></div>
    <div class="text--center title-bg">
      <h2 class="text--center section-title">Case Study: Washington Monthly
       <span class="text--small">Building a fully featured WP publication site with 10k+ posts</span>
      </h2>
    </div>
    <p>When <a href="http://washingtonmonthly.com" target="_blank">Washington Monthly</a> was searching for a redesign and build of their online news site, they did as many organizations do, put out an RFP. As a matter of policy, we don't respond to RFPs (mainly because we think they're a waste of valuable time and resources).</p>
    <p>We were asked to respond to WM's RFP but instead, we put together a small research package that included a full project estimate and recommendations they could use on their next build, regardless if they granted us the contract or not.</p>
    <p>Long story short, WM chose us to design and build a custom WP installation complete with:</p>
      <ul>
        <li>Over 44% increase in online readership since launch</li>
        <li>10k+ archival post import</li>
        <li>Customized data table auto-format and integration for their popular annual <a href="http://washingtonmonthly.com/college_guide" target="_blank">College Guide</a></li>
        <li>Support for 100s of users in a press ready contributor/editor workflow</li>
        <li>Complete redesign and styleguide to be used across all medium</li>
        <li>Bounce rate decrease of over 9%</li>
        <li>Ongoing dedicated support and maintenance (we're loyal!)</li>
      </ul>
  </div>
</div>