<!-- Start video hero -->
<div class="video-hero" id="home">
  <div class="video-bg demo-video">
    <video autoplay muted loop poster="files/programming-ide.jpg">
      <source src="files/programming-ide.mp4" type="video/mp4">
      <source src="files/programming-ide.webm" type="video/webm">
      <source src="files/programming-ide.ogv" type="video/ogg">
    </video>
  </div>
  <div class="video-overlay">
    <div class="page-width">
      <div class="video-hero--content">
        <h2>Your business is complex.</h2>
        <p class="green">Your development solution shouldn't be.</p>

        <div class="quote-wrapper">
          {% for quote in site.data.testimonials limit:4 %}
          {% cycle "", ""  %}
            <div class="testimonial">
             <img src="{{ quote.img | prepend: "/img/" | prepend: site.baseurl }}" class="img-responsive" />
             <p>{{quote.quote}}</p>
             <hr/>
             <div class="testimonial-speaker">
               <p>{{quote.author}}</p>
               <p>{{quote.title}}</p>
             </div>
           </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% include nav.html %}
</div>
<!-- End video hero -->
