<header>
  <div class="row container" style="margin:auto;">

    <div class="col-sm-3 hidden-xs">
      <h1 class="logo"><a href="/#home">Kettul</a></h1>
    </div>
    <div>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          <span class="logo"><a class="hidden-sm hidden-md hidden-lg" href="#home">Kettul</a></span>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              {% for item in site.nav %}
                  
                {% if item[0] == 'Contact' %}
                  <li><a id="link-contact" href="{{ item[1] }}">{{ item[0] }}</a></li>
                {% else %}
                  <li><a href="{{ item[1] }}">{{ item[0] }}</a></li>
                {% endif %}
              {% endfor %}

        <li class="hidden-sm hidden-md hidden-lg">
          <a href="https://twitter.com/kettuldev" target="_blank" class="twitter fa fa-twitter"></a>
        </li>
        <li class="hidden-sm hidden-md hidden-lg">
          <a href="https://www.facebook.com/kettuldev" target="_blank" class="facebook fa fa-facebook"></a>
        </li>
      </div>


            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
    </div>
  </div>
</header>