<div class="content-block">
    <div id="services" class="services">
        <h2 class="text--center section-title">Get the same results as a FT employee
            at a fraction of the cost</h2>
        <div class="service-box">
            <h3>Reduce overhead &amp; save money</h3>
            <p>Hiring managers are often faced with a choice - hire FT or freelance? While there are benefits to both, the financial benefits and service offerings are largely weighed in favor of hiring freelancers. No wonder Intuit forecasts the freelance sector will reach 43% by 2020.</p>
            <p>Check out the <a href="https://www.forbes.com/pictures/56f2ed0be4b0c144a7f80372/the-top-companies-hiring-/#4b1fd9b2d90a" target="_blank">Forbes list of top companies that are hiring freelancers</a> to shape and build the future.</p>
        </div>
        <div class="service-box">
            <h3>2 heads are better than 1</h3>
            <p>Your business is diverse and multi-faceted so you should expect the same qualities in your development team. Leveraging the talents and experience of multiple developers gives your organization an advantage that you simply don't get from FT employees. And no worries if your needs too big for just us - we partner with multiple other agenices and developers and we're alway happy to make customized recommendations that will take your project to the next level.</p>
        </div>

        <div class="service-box">
            <h3>Solve problems, no matter the toolset</h3>
            <p>No need to get hung up on which tech stack to use - creating custom solutions to complex problems is what we do best. The language or framework we build in<a href="#service-footer">*</a> is largely irrelevant. At the end of the day, we focus on shipping viable solutions that just work and work beautifully.</p>
        </div>

        <div class="service-box">
            <h3>Not sure what you need?</h3>
            <p>Do you need help? Since you're here, the answer is probably "YES!"
            We've helped many companies get their web applications back on track,
            redesign their online presence, and bring their ideas to life.</p>

            <p>We have experience with various platforms across mulitple languages.
            We might still be able to help. If we can't, we'll happily point you in
            the right direction!</p>  
        </div>
        <div id="service-footer" class="text--small service-box full text--center"><p>*In case you're curious, we focus on Rails, PHP, Drupal, WP, design and a full frontend stack.</p></div>

        <p class="text--center"><a href="javascript:void(0);" onclick="olark('api.box.expand')" class="button">Contact us today to get started!</a></p>
    </div>

</div>