<div class="content-block">
  <div id="team">
    <h2 class="text--center section-title">Focus small, plan big.</h2>
    <div class="row text--center">
      <div class="col-sm-6">
        <img class="img-responsive shadow--green circle img--small" src="{{ "/img/portrait.pat.jpg" | prepend: site.baseurl }}" />
         <h3>Patrick J. Sparrow</h3>
         <p><em>"Prove it!"</em></p>
         <dl>
            <dt>Location:</dt>
            <dd>Rehoboth Beach, DE</dd>
            <dt>Likes:</dt>
            <dd>guitar, craft beer, the music of Phish</dd>
            <dt>Turn-offs:</dt>
            <dd>crowds, logical fallacies</dd>
         </dl>
         <div class="clear text--left">
           <p>Pat has a Bachelor's degree in Computer Science from the University of
           Scranton and nearly 10 years of professional web development experience.
           He practices test-driven development and strives to write
           cleaner, simpler code.</p>
           <p>He currently lives in Rehoboth Beach, DE with
           his wife and rescue dog.</p>
         </div>
      </div>
      <div class="col-sm-6">
        <img class="img-responsive shadow--green circle img--small" src="{{ "/img/portrait.tim.jpg" | prepend: site.baseurl }}" />
         <h3>Tim Mannino</h3>
         <p><em>"Brilliant!"</em></p>
           <dl>
             <dt>Location:</dt>
             <dd>Ireland</dd>
             <dt>Likes:</dt>
             <dd>photography, minimalism, tiny cars</dd>
             <dt>Turn-offs:</dt>
             <dd>vegan food shaped like real food</dd>
          </dl>
          <div class="text--left clear">
            <p>Tim is an experienced front-end developer and designer (with the occasional foray into the backend!)</p>
            <p>Driven by his love of code (and indenting!), he has successfuly managed the design and development of numerous websites and web applications throughout his career.</p>
          </div>
      </div>
    </div>
  </div>
</div>